@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    height: 100vh;
    width:100vw;
    margin:0;
}

.container{
height:100%;
width:100%;
display:grid;
grid-template-columns: 1.5fr 4fr;
grid-template-rows:1fr 4fr;
}

/* sidebar */

.sidebar {
    background-color: #00acee;
    grid-column:1/2;
    grid-row:1/-1;
    display:grid;
    grid-template-rows:0.5fr 1fr 1fr 1fr
}

.sidebar div {
    color: white;
    margin-left: 10px;
    padding:10px;
    font-family:'Roboto';
}

.page-title{
    margin-top:20px;
}

/* header */

.header {
   grid-column:2/-1;
}

/* content */

.content{
    background-color: lightgrey;
    grid-row:2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 3fr;
    padding:10px;
}

.content-grid{
    grid-row:2/5;
    grid-column:1/2;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;;
    gap:10px;
}

.card{
    height:100%;
    background-color:white;
}